Title: <%= @job.title %>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= link_to "#{@job.city}", "/companies/#{@job.company.id}/jobs?city=#{@job.city}" %>


<%= link_to 'Edit', edit_job_path %>
<%= link_to 'Delete', job_path(@job), method: :delete %>

Company: <%= link_to @job.company.name, company_path(@job.company) %>

<h2>Enter a new comment:</h2>
<%= form_for [@job, @comment] do |f| %>
  <%= f.label :comment %>
  <%= f.text_field :content %>
  <%= f.submit %>
<% end %>

<h2>Comments</h2>
<ul>
  <% @comments.each do |comment| %>
  <li>
    <%= comment.created_at %>
    <%= comment.content %>
  </li>
  <%end%>
</ul>
